button {
	background-color: #fcfcfc;
	border: 1px solid #a8a8a8;
	outline: none;
	padding: 10px;
	color: #000;
	cursor: pointer;
	border-radius: 3px;
	margin-right: 10px;
	transition: all 250ms;
}

button:hover:enabled {
	color: #ffffff;
	background-color: #6facf1;
}

button:active:enabled {
	color: #ffffff;
	background-color: #6facf1;
}

button:focus:enabled {
	color: #ffffff;
	background-color: #6facf1;
}
button:disabled {
	opacity: 0.45;
	cursor: default;
}

.primary {
	background-color: #000000;
	color: #ffffff;
	margin-right: 0px;
}

.primary:active {
	border: 1px solid #6facf1;
	border-color: #6facf1;
}

@media (prefers-color-scheme: dark) {


	button {
		background-color: var(--background-color);
		border: 1px solid var(--border-color);
		padding: 10px;
		color: var(--color);
		border: none;
		cursor: pointer;
		border-radius: 3px;
		margin-right: 10px;
	}

	button:hover {
		background-color: var(--hover-color);
		color: var(--color);
	}
	
	button:active {
		background-color: var(--hover-color);
	}
	
	button:focus {
		background-color: var(--hover-color);
	}

	button:hover:enabled {
		color: var(--color);
		background-color: var(--hover-color);
	}

	button:hover:disabled {
		background-color: var(--background-color);
		color: var(--color);
	}

	button:active:enabled {
		color: var(--color);
		background-color: var(--hover-color);
	}

	button:focus:enabled {
		color: var(--color);
		background-color: var(--hover-color);
	}
	
	.primary {
		background-color: var(--primary-color);
		margin-right: 0px;
	}
	
	.primary:hover {
		background-color: var(--hover-color);
	}

	.primary:hover:disabled {
		background-color: var(--primary-color);
		color: var(--color);
	}

}
  